.header{
    display: flex;
    align-items: center;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 60px;
}
.header .logo2{
    position: absolute; 
	left: 9px;
	top: 70px;
    width:220px; 
}
.header .title-group{
    padding-left: 25px;
}
.header .title-group i{
    padding-right: 15px;
}